<div class="banner_sec">
    <img src="../assets/img/Contact--banner.jpg" alt="Pro-banner">
</div>
<div class="con_banner_bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="con_banner_bottom_lt">
                        <h5 class="text-uppercase">OFFICE</h5>
                        <div class="icon_sec">
                            <div class="icon_txt_lt"><img src="../assets/img/F_icon_1.png" alt=""></div>
                            <div class="icon_txt_rt"><p>Old No. 66/ New No. 72,<br>Pettaiyanchatram<br>Pondicherry - 605 009.</p></div>
                        </div>
                        <div class="icon_sec">
                            <div class="icon_txt_lt"><img src="../assets/img/F_icon_2.png" alt=""></div>
                            <div class="icon_txt_rt"><p><a href="tel:2271645">2271645, 4202050,</a></p></div>
                        </div>
                        <div class="icon_sec">
                            <div class="icon_txt_lt"><img src="../assets/img/F_icon_3.png" alt=""></div>
                            <div class="icon_txt_rt"><p><a href="tel:4202051">4202051</a></p></div>
                        </div>
                        <div class="icon_sec">
                            <div class="icon_txt_lt"><img src="../assets/img/F_icon_4.png" alt=""></div>
                            <div class="icon_txt_rt"><p><a href="matilto:credtechindia@yahoo.com">credtechindia@yahoo.com</a></p></div>
                        </div>
                        <div class="icon_sec">
                            <div class="icon_txt_lt"><img src="../assets/img/F_icon_5.png" alt=""></div>
                            <div class="icon_txt_rt"><p><a href="www.credtechindia.com">www.credtechindia.com</a></p></div>
                        </div>
                        <h5 class="text-uppercase">factory</h5>
                        <div class="icon_sec">
                            <div class="icon_txt_lt"><img src="../assets/img/F_icon_1.png" alt=""></div>
                            <div class="icon_txt_rt"><p>Factory  R.S. No. 5/13 & 5/15, <br>Mylam Road, Sedarapet, <br>Pondicherry - 605 111.</p></div>
                        </div>
                        <div class="icon_sec">
                            <div class="icon_txt_lt"><img src="../assets/img/F_icon_2.png" alt=""></div>
                            <div class="icon_txt_rt"><p><a href="(0413) 2671208, 2671218">(0413) 2671208, 2671218</a></p></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                        <div class="con_banner_bottom_lt">                            
                            <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d410.29322339598104!2d79.81204885652143!3d11.947549350515061!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1106aefa0c5bc59d%3A0x1b677a5cb6ec5eeb!2sVelmurugan%20Agencies!5e0!3m2!1sen!2sin!4v1573474395378!5m2!1sen!2sin" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe></p>
                        </div>
                    </div>
            </div>
        </div>
    </div>