<div class="banner_sec">
    <img src="../assets/img/Abt-banner.jpg" alt="">
</div>
<div class="abt_banner_bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="abt_banner_bottom_lt">
                    <h2>Our profile</h2>
                    <p>Credential Technologies Pvt. Ltd. was started in the year 2003 with an aim of manufacturing higher end PU Leathers from Wet Blue Splits and lower end grain hides.<br><br>Using the state of art imported machinery the desired quality output is manufactured. The capacity of the unit is 300,000 to 400,000 sq. feet per month. At present the unit caters to the need of raw material suppliers (Leather Suppliers) to all the leading leather goods exporters of the country.<br><br>It also exports finished leathers to China, Italy and United Kingdom.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="abt_banner_bottom_rt">
                    <img src="../assets/img/Abt-bg2.jpg" alt="Abt-bg2">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="three_sec_area">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="thre_sec_area" [class.hovered]="mouseOvered1" 
                (mouseover)="mouseOvered1=true"
                (mouseout)="mouseOvered1=false">
                    <div class="thre_sec_area_in">
                            <img src="../assets/img/{{mouseOvered1?'WWA_Ho_Icon_01':'WWA_Icon_01'}}.png" alt="">
                        <h3>our mission</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, Sed do eiusmod tempor</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thre_sec_area" [class.hovered]="mouseOvered2" 
                (mouseover)="mouseOvered2=true"
                (mouseout)="mouseOvered2=false">
                    <div class="thre_sec_area_in">
                            <img src="../assets/img/{{mouseOvered2?'WWA_Ho_Icon_02':'WWA_Icon_02'}}.png" alt="">
                        <h3>classic products</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, Sed do eiusmod tempor</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thre_sec_area" [class.hovered]="mouseOvered3" 
                (mouseover)="mouseOvered3=true"
                (mouseout)="mouseOvered3=false">
                    <div class="thre_sec_area_in">
                            <img src="../assets/img/{{mouseOvered3?'WWA_Ho_Icon_03':'WWA_Icon_03'}}.png" alt="">
                        <h3>competitive prices</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, Sed do eiusmod tempor</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>