<div class="banner_sec">
    <img src="../assets/img/Pro-banner.jpg" alt="Pro-banner">
</div>
<div class="pro_banner_bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="pro_banner_bottom_lt">
                    <h2>What we do</h2>
                    <p>Polyurethane finished leather has a fine film of textured Polyurethane on the top and specially crusted split or lowend grain hides at the bottom. It has the grain look, feel, flex, breathablity and drape of the top grain leather. In addition, it has better abrasion resistance and water resistance characteristics.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="featus_sec_area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="featur_sec_area_inn">
                    <h1>Leather Goods</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="five_sec_colom">
    <div class="container">
        <div class="row">
            <div class="col col1">                               
                <div class="fr_sec">
                    <div class="fr_sec_in">
                        <div class="content">
                            <a href="#" target="_blank">
                                <div class="content-overlay"></div>
                                <img class="content-image" src="http://localhost:4200/assets/img/HM_prod_02.png">
                                <div class="content-details fadeIn-bottom">
                                <h3 class="content-title">Leather Bags</h3>
                                </div>
                            </a>
                        </div>                       
                    </div>
                </div>
            </div>
            <div class="col col2">                               
                <div class="fr_sec">
                    <div class="fr_sec_in">
                        <div class="content">
                            <a href="#" target="_blank">
                                <div class="content-overlay"></div>
                                <img class="content-image" src="http://localhost:4200/assets/img/HM_prod_02.png">
                                <div class="content-details fadeIn-bottom">
                                <h3 class="content-title">Leather Bags</h3>
                                </div>
                            </a>
                        </div>                       
                    </div>
                </div>
            </div>
            <div class="col col3">                                               
                <div class="fr_sec">
                    <div class="fr_sec_in">
                        <div class="content">
                            <a href="#" target="_blank">
                                <div class="content-overlay"></div>
                                <img class="content-image" src="http://localhost:4200/assets/img/HM_prod_02.png">
                                <div class="content-details fadeIn-bottom">
                                <h3 class="content-title">Leather Bags</h3>
                                </div>
                            </a>
                        </div>                       
                    </div>
                </div>
            </div>
            <div class="col col4">                                              
                <div class="fr_sec">
                    <div class="fr_sec_in">
                        <div class="content">
                            <a href="#" target="_blank">
                                <div class="content-overlay"></div>
                                <img class="content-image" src="http://localhost:4200/assets/img/HM_prod_02.png">
                                <div class="content-details fadeIn-bottom">
                                <h3 class="content-title">Leather Bags</h3>
                                </div>
                            </a>
                        </div>                       
                    </div>
                </div>
            </div>
            <div class="col col5">                                              
                <div class="fr_sec">
                    <div class="fr_sec_in">
                        <div class="content">
                            <a href="#" target="_blank">
                                <div class="content-overlay"></div>
                                <img class="content-image" src="http://localhost:4200/assets/img/HM_prod_02.png">
                                <div class="content-details fadeIn-bottom">
                                <h3 class="content-title">Leather Bags</h3>
                                </div>
                            </a>
                        </div>                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="featus_sec_area1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="featur_sec_area_inn">
                        <h1>leather shoes</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="full-ds-sec">
        <div class="row">
            <div class="col-lg-6 blog-first-grid one">
                <div class="blog-txt text-center">
                <!-- <h5>
                <a href="#about">Arrived Fresh Lemons </a>
                </h5> -->
                </div>
            </div>
            <div class="col-lg-6 bolg-right-grids">
                <h4 class="pb-3">Men’s dress shoes</h4>
                <p>Economical leather shoes costing around US $ 8 (ex-factory are in good demand in USA as well as in CIS countries. In India also majority of the shoes belong to this category. So far lower selection Buff leather was being used for this. However the prices of these leathers are going up. The only substitute for this is PU Split leather. In India Farida Shoes, the largest exporter off leather shoes is using this leather.</p>
            </div>
            <div class="col-lg-6 bolg-right-grids">
                <h4 class="pb-3">Ladies dress shoes</h4>
                <p>Ladies in Developed countries prefer matching shoes for their dresses and hence they have to be economically. PU Split leather is an ideal material for these.</p>
            </div>
            <div class="col-lg-6 blog-second-grid two">
                <div class="blog-txt text-center">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 blog-first-grid three">
                <div class="blog-txt text-center">
                <!-- <h5>
                <a href="#about">Arrived Fresh Lemons </a>
                </h5> -->
                </div>
            </div>
            <div class="col-lg-6 bolg-right-grids">
                <h4 class="pb-3">Children’s Shoes</h4>
                <p>Economy and Water-proof are the major consideration for these shoes. PU Split Leather is the recommended leather at this has both the requisites.</p>
            </div>
            <div class="col-lg-6 bolg-right-grids">
                <h4 class="pb-3">Sport Shoes</h4>
                <p>Around 25% of all Sports Shoes like Adidas all over the world are made of this leather. All over the world are made of Polyurethane finished Split Leather. </p>
            </div>
            <div class="col-lg-6 blog-second-grid four">
                <div class="blog-txt text-center">
                </div>
            </div>
        </div>
    </div>